#root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  #container{
    width: 300px;
    
  }
  #button{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5, 65px);
    gap: 1px;
  }
  .butt{
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }
  #clear{
    grid-column: 1 / 3;
  }
  #equal{
    grid-row: 4 / 6;
    grid-column: 4 / 5;
  }
  #zero{
    grid-column: 1 / 3;
  }